.AboutMe {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    min-width: 350px;
    min-height: 100vh;
}

.LinksBackground {
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #00000050;
    border-radius: 50px;
    min-width: 64px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.ProfilePicSection {
    flex: 2;
    margin: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.ProfilePic {
    flex: 5;
    z-index: 1; 
    object-fit: cover;
    max-width: 100%;
    min-width: 256px;
    margin: 10px;
    border-radius: 12px;
}

.ResumeButton {
    flex: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000050;
    color: white;
    margin: 10px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Roboto Mono';
    text-decoration-line: underline;
    font-size: xx-large;
}

.ProfileDescription {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #ffffff50;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    margin: 10px;
    -webkit-backdrop-filter: blur(10px);
    font-family: 'Roboto Mono';
    font-size: large;
}

.LinkLogo {
    width: 100%;
}

.MailTo {
    background-color: #00000050;
    opacity: 70%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 100px;
    min-width: 64px;
    min-height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    margin-top: 30px;
}

.MailToLogo {
    width: 70%;
}